@import './variables';
@import './mixins';
.text-center {
    text-align: center;
  }
  
  .btn-primary {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    @include transition();
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  
  .border-radius {
    border-radius: $border-radius;
  }
  
  .box-shadow {
    @include box-shadow();
  }
  