// Colors

$primary-color: #308E87;
$accent-color: #F4F4F9;
$secondary-color: #ffffff;
$text-color: #222;

// Spacing & Borders
$border-radius: 12px;
$box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

// Typography
$font-family: 'Poppins', sans-serif;
$font-size-base: 16px;
