@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';
@import './mixins';
@import './utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $accent-color;
  font-size: $font-size-base;
}