@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --grayish-blue: hsl(212, 23%, 69%);
  --white: hsl(0, 0%, 100%);
  --fs-13: 13px;
}
*{
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}


a {
  color: var(--white);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img,
i {
  display: block;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  background: var(--light-grayish-blue);
  padding: 20px;
}

.article-card {
  display: grid;
  grid-template-columns: minmax(30%, 40%) minmax(60%,90%);
  width: 100%;
  border-radius: 10px;
  box-shadow: 
    6px 6px 5px hsla(0, 0%, 0%, 0.02),
    25px 25px 20px hsla(0, 0%, 0%, 0.03),
    100px 100px 80px hsla(0, 0%, 0%, 0.05);

  &:hover .article-banner {
    transform: scale(1.1);
  }

  .img-box {
    border-radius: 10px 0 0 10px;
    overflow: hidden;

    .article-banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      transition: all 0.5s ease;
    }
  }

  .article-content {
    background: var(--white);
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;

    .article-title {
      font-size: 20px;
      color: hsl(217, 19%, 35%);
      margin-bottom: 12px;
      line-height: 1.4;
      text-align: justify;

      &:hover {
        filter: invert(1);
      }
    }

    .article-text {
      font-size: var(--fs-13);
      color: var(--desaturated-dark-blue);
      margin-bottom: 18px;
      line-height: 1.5;
      text-align: justify;
    }

    .article-content-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .author {
        display: flex;
        align-items: center;

        .author-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 15px;
        }

        .author-name {
          color: var(--desaturated-dark-blue);
          font-size: var(--fs-13);

          &:hover {
            filter: invert(1);
          }
        }
      }

      .publish-date {
        color: var(--grayish-blue);
        font-size: var(--fs-13);
      }

      .share {
        position: relative;

        .share-button {
          background: var(--light-grayish-blue);
          padding: 6px;
          border-radius: 20px;
          font-size: 20px;
          color: var(--desaturated-dark-blue);
          transition: all 0.25s ease;

          &:hover,
          &.active {
            background: var(--desaturated-dark-blue);
            color: var(--light-grayish-blue);
          }
        }

        .share-option {
          --scale: 0;
          --translateX: -50%;
          --translateY: 0;

          background: var(--very-dark-grayish-blue);
          position: absolute;
          bottom: calc(100% + 28px);
          transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 17px 40px;
          border-radius: 10px;
          box-shadow: 0 5px 20px -5px #0003;
          transform-origin: bottom;
          visibility: hidden;
          transition: all 0.25s ease;

          &.active {
            --scale: 1;
            visibility: visible;
          }

          &::after {
            content: '';
            background: var(--very-dark-grayish-blue);
            width: 20px;
            height: 20px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -60%) rotate(45deg);
          }

          span {
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: var(--grayish-blue);
            margin-right: 5px;
          }

          ion-icon {
            font-size: 22px;

            &:hover {
              filter: invert(1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fs-13: 12px;
  }

  .article-card {
    grid-template-columns: 1fr;
    max-width: 294px;
    overflow: hidden;

    .img-box {
      height: 180px;

      .article-banner {
        border-radius: 0;
      }
    }

    .article-content {
      padding: 30px 28px 20px;

      .article-title {
        font-size: 15px;
      }

      .article-text {
        margin-bottom: 30px;
      }

      .article-content-footer {
        position: relative;

        .author-avatar {
          width: 35px;
          height: 35px;
        }

        .share {
          position: static;
          z-index: 1;

          .share-button {
            font-size: 16px;
          }

          .share-option {
            --scale: 1;
            --translateX: 0;
            --translateY: 100%;
            inset: -20px -28px;
            border-radius: 0;
            padding: 17px 30px;
            z-index: -1;

            &.active {
              --translateY: 0;
            }
          }
        }
      }
    }
  }
}
