@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$white: hsl(0, 0%, 100%);

$background-primary: hsl(0, 0%, 100%);
$background-secondary: hsl(0, 0%, 97%);

$action-primary: hsl(214, 32%, 91%);
$action-secondary: hsl(210, 38%, 95%);

$foreground-primary: hsl(218, 23%, 23%);
$foreground-secondary: hsl(216, 15%, 52%);
$foreground-tertiary: hsl(214, 20%, 69%);

$accent: #308E87;

$fs-base: 0.85rem;
$fs-1: 1.875rem;
$fs-2: 1.5rem;
$fs-3: 1.25rem;
$fs-4: 0.875rem;
$fs-5: 0.75rem;

$padding-y: 5rem;

img,
button {
  display: block;
}

a,
span {
  display: inline-block;
}

:focus {
  outline-offset: 4px;
}

.h1 {
  font-size: $fs-1;
  font-weight: 900;
}

.h2 {
  font-size: $fs-2;
}
.h3 {
  font-size: $fs-3;
}
.h4 {
  font-size: $fs-4;
}

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: $foreground-primary;
}

.h2,
.h3,
.h4 {
  font-weight: 700;
}

.text-small {
  font-size: $fs-4;
}
.text-tiny {
  font-size: $fs-5;
}



/*BLOG*/

.main {
  background: $background-secondary;
}

.blog .h2 {
  line-height: 1.3;
  margin-bottom: 3rem;
  text-align: center;
}

.blog-card-group {
  margin-bottom: 3rem;
}

.blog-card {
  background: $background-primary;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 16px 10px hsla(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
}

.blog-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}

.blog-card .h3 {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.blog-card .h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

// .blog-card-banner {
//   display: none;
// }
.blog-content-wrapper {
  padding: 10px 5px;
}

.blog-topic {
  background: $action-secondary;
  color: $foreground-secondary;
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blog-topic:hover {
  background: $foreground-secondary;
  color: $action-secondary;
}

.blog-text,
.profile-wrapper {
  display: none;
}

.blog .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.blog .h4 {
  color: $foreground-secondary;
}
.blog .h4:hover {
  color: $accent;
}

.blog .text-small {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $foreground-tertiary;
}

.blog .separator {
  background: $foreground-tertiary;
  margin-inline: 3px;
  margin: 0 3px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

.blog ion-icon {
  --ionicon-stroke-width: 50px;
}

.load-more {
  margin-inline: auto;
  margin: auto;
  background: $foreground-secondary;
  color: $background-secondary;
  padding: 0.6875rem 1.1875rem;
  transition: 0.5s;
}

.load-more:hover {
  background: $accent;
}

/*ASIDE*/
.aside {
    display: block;
    align-self: stretch;
  }

  .aside .h2 {
    color: $foreground-secondary;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 1.3;
  }

  .aside .wrapper {
    background: $background-primary;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
  }

  .topics {
    margin-bottom: 2rem;
  }

  .topic-btn {
    display: flex;
    align-items: stretch;
    background: $background-primary;
    border-radius: 10px;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
    overflow: hidden;
  }
  .topic-btn:not(:last-child) {
    margin-bottom: 1rem;
  }

  .topic-btn .icon-box {
    font-size: 22px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $action-primary;
    color: $foreground-secondary;
    transition: 0.5s;
  }

  .topic-btn:hover .icon-box {
    background: $accent;
    color: $white;
  }

  .topic-btn ion-icon {
    --ionic-stroke-width: 40px;
  }

  .topic-btn p {
    padding: 15px;
    color: $foreground-secondary;
    font-weight: 700;
  }

  .tags {
    margin-bottom: 3rem;
  }

  .tags .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .tags .hashtag {
    background: $action-primary;
    color: $foreground-secondary;
    padding: 5px 10px;
    font-size: $fs-5;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.5s;
  }

  .tags .hashtag:hover {
    background: $foreground-secondary;
    color: $action-primary;
  }
/*MEDIA QUERIES*/
@media (max-width: 550px) {
    .blog-card-banner{
        img{
            width:100%
        }
    }
}
@media (min-width: 550px) {
 
  $fs-base:0.9rem;

  .blog-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20px;
  }

  .blog-card-banner {
    display: block;
    overflow: hidden;
    border-radius: 5px;
  }

  .blog-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 650px) {
   $fs-1: 2.25rem;
  

 

  .blog .h2 {
    position: relative;
    text-align: left;
    padding-left: 2rem;
  }

  .blog .h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $action-primary;
    width: 5px;
    height: 100%;
    border-radius: 5px;
  }

  .blog .wrapper-flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .blog .wrapper {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .blog-text,
  .profile-wrapper {
    display: block;
  }

  .blog-text {
    color: $foreground-secondary;
    font-size: $fs-4;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .profile-wrapper {
    width: 56px;
    height: 56px;
    background: $action-primary;
    padding: 3px;
    border-radius: 50%;
  }

  .profile-wrapper img {
    border-radius: 50%;
  }
}


@media (min-width: 1024px) {
  .main .container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 40px;
  }

 
}
