:host {
  display: block;
  height: 100vh;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-zinc-200 dark:bg-zinc-800 rounded-full;
    &:hover {
      @apply bg-zinc-300 dark:bg-zinc-700;
    }
  }
}