<div class="p-4">
  <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap items-center mb-2">
      <!-- Skill Details Section -->
      <div class="w-full md:w-3/4 pl-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Skill Name</label
            >
            <input
              formControlName="skillName"
              class="mt-2 bg-white block w-full px-4 py-2 text-sm border border-[#308e87] rounded-lg shadow-sm focus:ring-2 focus:ring-blue-400"
              type="text"
              placeholder="e.g., Node.js"
            />
            @if(skillName?.invalid && (skillName?.dirty || skillName?.touched)){
            <div class="text-red-500 text-xs">
              @if(skillName?.hasError('required')){
              <div>Skill Name is required.</div>
              } @if(skillName?.hasError('pattern')){
              <div>Only alphanumeric characters are allowed.</div>
              }
            </div>
            }
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Skill Level</label
            >
            <select
              formControlName="skillLevel"
              class="mt-2 bg-white select select-bordered block w-full px-4 py-2 text-sm border border-[#308e87] rounded-lg shadow-sm focus:ring-2 focus:ring-blue-400"
            >
              <option value="" disabled selected>Select Level</option>
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
            @if (skillLevel?.invalid && (skillLevel?.dirty ||
            skillLevel?.touched)) {
            <div class="text-red-500 text-xs">
              @if (skillLevel?.hasError('required')) {
              <div>Skill Level is required.</div>
              }
            </div>
            }
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Category</label
            >
            <input
              formControlName="category"
              class="mt-2 bg-white block w-full px-4 py-2 text-sm border border-[#308e87] rounded-lg shadow-sm focus:ring-2 focus:ring-blue-400"
              type="text"
              placeholder="e.g., Backend Development"
            />
            @if (category?.invalid && (category?.dirty || category?.touched)) {
            <div class="text-red-500 text-xs">
              @if (category?.hasError('required')) {
              <div>Category is required.</div>
              }
            </div>
            }
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Logo URL</label
            >
            <input
              formControlName="logoUrl"
              class="mt-2 bg-white block w-full px-4 py-2 text-sm border border-[#308e87] rounded-lg shadow-sm focus:ring-2 focus:ring-blue-400"
              type="url"
              placeholder="Optional logo URL"
            />
            @if (logoUrl?.invalid && (logoUrl?.dirty || logoUrl?.touched)) {
            <div class="text-red-500 text-xs">
              @if (logoUrl?.hasError('pattern')) {
              <div>Please enter a valid URL.</div>
              }
            </div>
            }
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/4 text-center mb-6 md:mb-0">
        <!-- Profile Image Section -->
        <div
          class="w-28 h-24 mx-auto rounded-sm border-1 border-[#308e87] overflow-hidden mb-4"
        >
          <img
            class="w-full h-full object-cover"
            [src]="
              logoUrl?.value
                ? logoUrl?.value
                : 'https://via.placeholder.com/150'
            "
            alt="Profile"
          />
        </div>

        <!-- Buttons Section -->
        <div class="flex justify-center gap-3">
          <button
            type="button"
            (click)="skillForm.reset()"
            class="px-4 py-2 bg-gray-500 text-white rounded-lg text-sm font-medium shadow-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600 w-full sm:w-auto"
          >
            Discard
          </button>
          <button
            type="submit"
            [disabled]="skillForm.invalid"
            class="px-4 py-2 bg-[#308e87] text-white rounded-lg text-sm font-medium shadow-md hover:bg-[#256e69] focus:outline-none focus:ring-2 focus:ring-[#256e69] w-full sm:w-auto"
          >
            Add Skill
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
