<div class="container mx-auto p-6 bg-white shadow-xl rounded-lg">
  <form class="space-y-8" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-6">
      <!-- Project Title -->
      <div class="mb-4">
        <label for="title" class="block text-sm font-medium text-gray-700"
          >Project Title</label
        >
        <input
          id="title"
          type="text"
          formControlName="title"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (f['title'].touched && f['title'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          @if (f['title'].errors?.['required']) {
          <small>Title is required.</small>} @if
          (f['title'].errors?.['minlength']) {
          <small>Minimum 3 characters required.</small> }
        </div>
        }
      </div>

      <!-- Project Description -->
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700"
          >Description</label
        >
        <textarea
          id="description"
          formControlName="description"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        ></textarea>
        @if (f['description'].touched && f['description'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          @if (f['description'].errors?.['required']) {<small
            >Description is required.</small
          >} @if (f['description'].errors?.['minlength']) {<small
            >Minimum 10 characters required.</small
          >}
        </div>
        }
      </div>

      <!-- Technologies -->
      <div class="mb-4">
        <label
          for="technologies"
          class="block text-sm font-medium text-gray-700"
          >Technologies</label
        >
        <input
          id="technologies"
          type="text"
          formControlName="technologies"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (f['technologies'].touched && f['technologies'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          <small>Technologies are required.</small>
        </div>
        }
      </div>

      <!-- License -->
      <div class="mb-4">
        <label for="license" class="block text-sm font-medium text-gray-700"
          >License</label
        >
        <input
          id="license"
          type="text"
          formControlName="license"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (f['license'].touched && f['license'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          <small>License is required.</small>
        </div>
        }
      </div>

      <!-- Tags -->
      <div class="mb-4">
        <label for="tags" class="block text-sm font-medium text-gray-700"
          >Tags</label
        >
        <input
          id="tags"
          type="text"
          formControlName="tags"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (f['tags'].touched && f['tags'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          <small>Tags are required.</small>
        </div>
        }
      </div>

      <div class="form-section grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div class="form-group">
          <label for="projectType">Project Type</label>
          <select
            id="projectType"
            class="form-control select"
            formControlName="projectType"
          >
            <option value="">Select Project Type</option>
            <option value="main">Main Project</option>
            <option value="mini">Mini Project</option>
          </select>
          @if (f['projectType'].touched && f['projectType'].invalid) {
          <div class="text-danger">
            @if (f['projectType'].errors?.['required']) {
            <small>Project type is required.</small>} @if
            (f['projectType'].errors?.['pattern']) {<small
              >Invalid project type selected.</small
            >}
          </div>
          }
        </div>
          <!-- Status -->
      <div class="form-group">
        <label for="status" class="block text-sm font-medium text-gray-700"
          >Status</label
        >
        <select
          id="status"
          formControlName="status"
          class="form-control select"
        >
          <option value="">Select Status</option>
          <option value="Planning">Planning</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
        @if (f['status'].touched && f['status'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          @if (f['status'].errors?.['required']) {
          <small>Status is required.</small>
          }
        </div>
        }
      </div>
      </div>
      <!-- SEO Keywords -->
      <div class="mb-4">
        <label for="seoKeywords" class="block text-sm font-medium text-gray-700"
          >SEO Keywords</label
        >
        <input
          id="seoKeywords"
          type="text"
          formControlName="seoKeywords"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (f['seoKeywords'].touched && f['seoKeywords'].invalid) {
        <div *ngIf="" class="text-red-500 text-sm mt-1">
          <small>SEO Keywords are required.</small>
        </div>
        }
      </div>

      <!-- Additional Resources -->
      <div class="form-group">
        <label for="additionalResources">Additional Resources</label>
        <input
          id="additionalResources"
          type="text"
          class="form-control"
          formControlName="additionalResources"
          placeholder="Enter additional resources"
        />
        @if (f['additionalResources'].touched &&
        f['additionalResources'].invalid) {
        <div class="text-danger">
          @if (f['additionalResources'].errors?.['required']) {
          <small>Additional resources are required.</small>
          }
        </div>
        }
      </div>


      <!-- Related Projects -->
      <div class="form-section col-span-full">
        <label
          for="relatedProjects"
          class="block text-text-color font-semibold mb-2"
          >Related Projects</label
        >
        <ng-select
          [items]="projects"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedProjects"
          [multiple]="true"
          placeholder="Select related projects"
          [searchable]="true"
          formControlName="relatedProjects"
        >
        </ng-select>
        @if (f['relatedProjects'].touched && f['relatedProjects'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          @if (f['relatedProjects'].errors?.['required']) {
          <small>Related projects are required.</small>
          }
        </div>
        }
      </div>

      <!-- Collaborators -->
      <div class="form-section col-span-full">
        <label
          for="collaborators"
          class="block text-text-color font-semibold mb-2"
          >Collaborators</label
        >
        <input
          id="collaborators"
          type="text"
          class="custom-input w-full border py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          placeholder="Enter collaborators, separated by commas"
          formControlName="collaborators"
        />
        @if(f['collaborators'].touched && f['collaborators'].invalid){
        <div class="text-red-500 text-sm mt-1">
          @if (f['collaborators'].errors?.['required']) {
          <small>Collaborators are required.</small>
          }
        </div>
        }
      </div>

      <div class="form-section">
        <label for="link" class="block text-text-color font-semibold mb-2"
          >Project Link</label
        >
        <input
          id="link"
          type="url"
          class="custom-input w-full border py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          placeholder="Enter project URL"
          formControlName="link"
        />
        @if (f['link'].touched && f['link'].invalid) {
        <div class="text-red-500 text-sm mt-1">
          @if (f['link'].errors?.['pattern']) {
          <small>Please enter a valid URL for the project link.</small>
          }
        </div>
        }
      </div>

      <!-- Repository Link -->
      <div class="form-section">
        <label for="repo" class="block text-text-color font-semibold mb-2"
          >Repository Link</label
        >
        <input
          id="repo"
          type="url"
          class="custom-input w-full border py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          placeholder="Enter repository URL"
          formControlName="repo"
        />
        @if(f['repo'].touched && f['repo'].invalid){
        <div class="text-red-500 text-sm mt-1">
          @if (f['repo'].errors?.['pattern']) {
          <small>Please enter a valid URL for the repository link.</small>
          }
        </div>
        }
      </div>

      <div class="form-section grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Start Date -->
        <div class="mb-4">
          <label for="startDate" class="block text-sm font-medium text-gray-700"
            >Start Date</label
          >
          <input
            id="startDate"
            type="date"
            formControlName="startDate"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
          @if (f['startDate'].touched && f['startDate'].invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if (f['startDate'].errors?.['required']) {
            <small>Start date is required.</small>
            }
          </div>
          }
        </div>

        <!-- End Date -->
        <div class="mb-4">
          <label for="endDate" class="block text-sm font-medium text-gray-700"
            >End Date</label
          >
          <input
            id="endDate"
            type="date"
            formControlName="endDate"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
          @if (f['endDate'].touched && f['endDate'].invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if (f['endDate'].errors?.['required']) {
            <small>End date is required.</small>
            }
          </div>
          }
        </div>
      </div>
    

      <!-- Deployment Details -->
      <div class="form-section">
        <label
          for="deploymentDetails"
          class="block text-text-color font-semibold mb-2"
          >Deployment Details</label
        >

        <!-- Dynamic Fields for Deployment Details -->
        <div formArrayName="deploymentDetails">
          @for (deployment of deploymentDetails.controls; track $index;let i =
          $index) {
          <div formGroupName="i" class="flex items-center space-x-4 mb-4">
            <!-- Platform (Frontend/Backend) -->
            <div class="w-1/2">
              <input
                id="platform"
                type="text"
                class="custom-input w-full border py-2 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
                placeholder="Enter platform (Frontend/Backend)"
                formControlName="platform"
                required
              />
            </div>

            <!-- URL -->
            <div class="w-1/2">
              <input
                id="url"
                type="url"
                class="custom-input w-full border py-2 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
                placeholder="Enter deployment URL"
                formControlName="url"
                required
                [pattern]="'https?://.+'"
              />
            </div>

            <!-- Remove Button (cross icon) -->
            <div
              class="text-red-500 cursor-pointer"
              (click)="removeDeploymentDetail(i)"
            >
              &#10005;
              <!-- Cross icon -->
            </div>
          </div>
          }
        </div>

        <!-- Add Deployment Detail Button on the Same Row (Right-Aligned) -->
        <div class="flex justify-end mt-2">
          <button
            type="button"
            class="bg-blue-500 text-white py-1 px-3 rounded-md text-sm"
            (click)="addDeploymentDetail()"
          >
            Add
          </button>
        </div>
      </div>

      <!-- Current, Featured, Archived (Same Row on Large Screens) -->
      <div
        class="form-section grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
      >
        <div class="form-section">
          <label class="block text-text-color font-semibold mb-2"
            >Is Current?</label
          >
          <input
            id="current"
            type="checkbox"
            formControlName="current"
            class="h-6 w-6"
          />
        </div>

        <div class="form-section">
          <label class="block text-text-color font-semibold mb-2"
            >Featured Project?</label
          >
          <input
            id="featured"
            type="checkbox"
            formControlName="featured"
            class="h-6 w-6"
          />
        </div>

        <div class="form-section">
          <label class="block text-text-color font-semibold mb-2"
            >Archived?</label
          >
          <input
            id="archived"
            type="checkbox"
            formControlName="archived"
            class="h-6 w-6"
          />
        </div>
      </div>
      <div>
        <label for="skills" class="block text-sm font-medium text-teal-700"
          >Skills</label
        >
        <input
          type="text"
          id="skills"
          placeholder="e.g., JavaScript, Python"
          class="custom-input w-full border py-2 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          #skillInput
          (keyup.enter)="addSkill(skillInput.value); skillInput.value = ''"
        />
        <div class="flex flex-wrap gap-2 mt-3">
          @for (skill of skills.controls; track skill; let i =$index) {
          <app-tags [index]="i" (removeTag)="removeSkill($event)">{{
            skill.value
          }}</app-tags>
          }
        </div>
        @if (f['skills'].touched && f['skills'].invalid) {
        <div class="text-red-500 text-sm">
          @if (f['skills'].errors?.['maxlength']) {
          <div>Skills must be less than 200 characters.</div>
          }
        </div>
        }
      </div>
      <div class="form-section">
        <label
          for="documentationLink"
          class="block text-text-color font-semibold mb-2"
          >Documentation Link</label
        >

        <!-- Documentation Link -->
        <div class="w-full mb-4">
          <input
            id="documentationLink"
            type="url"
            class="custom-input w-full border py-2 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
            placeholder="Enter documentation link"
            formControlName="documentationLink"
            [pattern]="'https?://.+'"
            required
          />
        </div>
      </div>
      <!-- Video Representation -->
      <div class="form-section">
        <label
          for="videoRepresentation"
          class="block text-text-color font-semibold mb-2"
          >Video Representation</label
        >
        <input
          id="videoRepresentation"
          type="file"
          accept="video/*"
          class="custom-input w-full border py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          (change)="previewVideo($event)"
          formControlName="videoRepresentation"
        />
        <video id="videoPreview" class="mt-4 w-full hidden" controls>
          <source id="videoSource" />
          Your browser does not support the video tag.
        </video>
      </div>

      <!-- Image Content Upload -->
      <div class="form-section">
        <label
          for="imageContent"
          class="block text-text-color font-semibold mb-2"
          >Image Content</label
        >
        <input
          id="imageContent"
          type="file"
          accept="image/*"
          multiple
          class="custom-input w-full border py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color"
          (change)="previewImage($event)"
          formControlName="images"
        />
        <img id="imagePreview" class="mt-4 w-full hidden" alt="Image Preview" />
      </div>
    </div>

    <!-- Form Controls -->
    <div class="flex justify-end space-x-4">
      <button
        type="submit"
        [disabled]="projectForm.invalid"
        class="px-4 py-2 bg-teal-500 text-white rounded-lg hover:bg-teal-800 focus:ring focus:ring-indigo-300"
      >
        Submit
      </button>
      <button
        type="button"
        (click)="onReset()"
        class="px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300"
      >
        Reset
      </button>
    </div>
  </form>
</div>
